{% extends 'law/base.html' %} {% load static %} {% block main %}
<div class="container">
  <div class="my-md-5 my-sm-4">
    <div class="row">
      <div class="col-12">
        <div class="my-auto">
          <div class="text-center">
            
            <h1>模擬試験</h1>
          </div>
          <div class="text-center">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                答え表示
            </button></div>
                <div class="overflow-auto-scroll">
            {% for model in models %}
            <p class="f-medium m-0 pt-4 text-primary">
              {{ forloop.counter }}問目
            </p>
            <p class="f-large">{{model.qestion | linebreaksbr}}</p>
            <div class="collapse" id="collapseExample">
       
            <p class="f-medium text-warning">答え： {{model.answer}}</p>
            {% if model.explanation %}
          <p class="f-medium alert alert-info" role="alert">解説<br>{{model.explanation | linebreaksbr}}</p>
          {% endif %}
                </div>
            {% endfor %}
            
          </div>
          
          </div></div></div>
          
      </div>
    </div>

{% endblock %}
